.tf__about_img {
    width: 395px;
    height: 475px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.tf__about_img::after {
    position: absolute;
    content: "";
    background-color: #5b7ea2;
    width: 95%;
    height: 80%;
    top: -20px;
    right: -20px;
    z-index: -1;
}
img {
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
}
.row{
    display: flex;
    justify-content: space-between;
}
.left_55{
    width: 55%;
}
.right_45{
    width: 45%;
}
.tf__about_text {
    padding-left: 145px;
    padding-right: 80px;
    position: relative;
}
.mb_95{
    margin-bottom: 95px;
}
.mb_70{
    margin-bottom: 70px;
}
.common_btn {
    font-size: large;
    display: inline-block;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 1rem;
    font-weight: bold;
    border: 1px solid transparent;
    text-decoration: none;
  }
  
  .common_btn:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
  }
  .tf__about_text::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: var(--primary-color);
    top: 10px;
    left: 0;
  }
  .tf__about_text::after {
    width: 125px;
}
.d-flex{
    display: flex;
}
.justify-content-end{
    justify-content: end;
}
@media screen and (max-width: 768px) {
    .mobile_friendly .left_55{
        width: 100%;
    }
    .mobile_friendly{
        flex-direction: column-reverse;
    }
    .mobile_friendly .right_45{
        display: block;
    }
    .mobile_friendly img{
        padding: 0 25px;
    }
    .tf__about_img::after {
        top: -21px;
        right: -54px;   
    }
    .tf__about_text::after {
        width: 100px;
    }
    .mobile_friendly h1{
        font-size: 25px;
    }
    .mb_95{
        margin-bottom: 10px;
    }
    .tf__about_text{
        padding-left: 110px;
        padding-right: 0px;
    }
    .tf__about_img{
        margin-bottom: 0px;
    }
    .mb_70{
        margin-bottom: 20px;
    }
    .ml-20{
        margin: auto 35px;
    }
}
  