
  .container-fluid .row:nth-child(even) {
    background: #F1F4F5;
  }
  .align_vertically{
    align-self: center; 
  }
  
  .left_80 {
    width:80%
  }
  .right_20{
    width: 20%;
  }

  /*==================================
      TIMELINE
  ==================================*/
  /*-- GENERAL STYLES
  ------------------------------*/
  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
    
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: -35px;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #3D5A80;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 8px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #3D5A80;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 40px;
   
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
   .tags {
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    width: 100%;
    margin-top: 1.2rem;
  }
  
  .tags span {
    display: inline-block;
    font-size: 0.7rem;
    background: linear-gradient( 45deg, #3D5A80 50%, #5B78A8 50% );
    color:#fff;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: 800;
    letter-spacing: 0.7px;
  }
  
  /*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/
  @media (min-width: 768px) {
   
   
    .timeline-split .timeline, .timeline-centered .timeline {
      display: table;
    }
    .timeline-split .timeline-item, .timeline-centered .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
      position: relative;
    }
    .timeline-split .timeline-content, .timeline-centered .timeline-content {
      padding-left: 30px;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info {
      padding-right: 30px;
    }
    .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
  
  /*----------------------------------------------
      MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
    .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-centered .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-centered .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
      width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-centered .timeline-item.period {
      padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .timeline-centered .period .timeline-title {
      left: auto;
    }
  }
  
  /*----------------------------------------------
      MOD: MARKER OUTLINE
  ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #3D5A80;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #3D5A80;
  }
  .card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #f1f3f5;
	  transition: all 250ms;
    padding: 10px 20px;
    margin-bottom : 25px;
  }
  .card:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-5px);
	  cursor: pointer;
  }
  /* featurebox css start */
  .featured-box.style-4 {
    text-align: center;
  }
  .featured-box.style-4 .featured-box-icon {
    align-items: center;
    box-shadow: 0 0 50px rgba(0,0,0,.03);
    display: flex;
    flex-shrink: 0;
    height: 120px;
    justify-content: center;
    margin: 0 auto 1.5rem;
    text-align: center;
    width: 120px;
  }
  .fw-700 {
    font-weight: 800!important;
  }
  .bg-primary {
    background-color: rgba(61, 90, 128, 0.3);
  }
  .text-25 {
    font-size: 5rem!important;
}

.text-7 {
  font-size: 28px!important;
  font-size: 1.75rem!important;
}

.rounded-circle {
  border-radius: 50%!important;
}
@media screen and (max-width: 768px) {
  .right_20{
    display: none;
  }
  .left_80{
    width: 100%;
  }
}