
  
  .blok:nth-of-type(odd) {
    background-color: white;
  }
  
  .blok:nth-of-type(even) {
    background-color: black;
  }
  .blok {
    animation: border-transform 8s infinite linear;
  }
  
  @-webkit-keyframes border-transform {
    0%, 100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
  }

  
  /* #Progress
  ================================================== */
  
  .progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: grid;
    place-items: center;
    background: #fff;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px  #5B78A8;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;
  }
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .progress-wrap::after {
    position: absolute;
   
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all 200ms linear;
  }
  .progress-wrap:hover::after {
    opacity: 0;
  }
  .progress-wrap::before {
    position: absolute;
   
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    transition: all 200ms linear;
  }
  .progress-wrap:hover::before {
    opacity: 1;
  }
  .progress-wrap svg path { 
    fill: none; 
  }
  .progress-wrap svg.progress-circle path {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 4;
    box-sizing: border-box;
    transition: all 200ms linear;
  }
  .up_svg_code{
    height: 20px;
    width: 20px;
  }
  