.tab-container {
    width: 100%;
    margin: 30px 140px;
    padding: 10px;
  }
  .tab-item{
    background-color: #f6f9fc;
  }
  .tab-button-container{
    padding: 1.25rem 1.5rem;
   background-color: #f6f9fc;
  }
  .tab-section {
    margin-bottom: 5px;
  }
  
  .tab-item {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .tab-item.active {
    background: darkgray;
    color: white;
  }
  
  .tab-content {
    padding: 10px;
    border-top: 1px solid #ccc;
    overflow: hidden;
  }
  
  .tab-content.active {
    max-height: 500px; /* Set a reasonable max-height for the content to expand */
  }
  .container{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .experience_logo{
    width: 20 0px;
    height: 60px;
    
  }
  .experience_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .experience_head_container{
    display: flex;
  }
  .experience_details{
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
  }
  .experience_details h3{
    font-size: 18px;
    font-weight: 600;
  }
  .experience_details p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .experience_details span{
    font-size: 14px;
    font-weight: 400;
    display: grid;
    place-items: center;
    margin-left: 5px ;
  }
  .company_name{
    display: flex;
    justify-content: space-between;
  }
  .view-exp{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .down_arrow{
    height: 15px;
    width: 15px;
    margin: 10px;
    object-fit: contain;
  }
  .tab-item{
    display: flex;
    justify-content: left;
    position: relative;
    text-transform: uppercase;
    will-change: transform;
    letter-spacing: 0.025em;
    font-size: 0.875rem;
    font-weight: 600;
    box-shadow: none;
  }
  .text-primary{
    color:  #5e72e4 !important;
  }
  .tab-button-container{
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 768px) {
    .tab-container{
      margin: 8px;
    }
    .experience_head_container,.company_name{
      flex-direction: column;
    }
    .experience_details span{
      font-size: 17px;
      place-items: start;
      margin-left: 0px;
    }
    .experience_details p{
      font-size: 16px;
    }
    .brief_exprience p{
     margin-left: 20px;
    }
    .experience-quote{
      text-align: center !important;
    }
    .experience_details{
      padding: 40px 10px 10px 10px;
    }
  }